.color-box {
  width: 20%;
  height: 25%;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: -3.5px;
}

.more-palette .color-box {
  height: 50%;
}

.copy-button,
.back-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  outline: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

.copy-button {
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
}

.color-box:hover .copy-button {
  opacity: 1;
}

.box-content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: #000;
  letter-spacing: 1px;
  font-size: 10px;
}

.light-text {
  color: white;
}

.color-box .dark-text {
  color: rgba(0, 0, 0, 0.5);
}

.see-more {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  border: none;
  right: 0;
  bottom: 0;
  color: #fff;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.copy-overlay {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.1);
  transition: transform 0.6s ease-in-out;
}

.copy-overlay.show {
  position: absolute;
  opacity: 1;
  transform: scale(50);
  z-index: 10;
}

.copy-msg {
  opacity: 0;
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transform: scale(0.1);
  z-index: 0;
  font-size: 40px;
}

.copy-msg.show {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.2s;
}

.copy-msg h1 {
  font-weight: 400;
  text-shadow: 1px 2px #000;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.copy-msg p {
  font-size: 20px;
  font-weight: 100;
}
