.color-box {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}

.copy-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  border: none;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.color-box:hover .copy-button {
  opacity: 1;
}

.box-content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: #000;
  letter-spacing: 1px;
  font-size: 12px;
}

.see-more {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  border: none;
  right: 0;
  bottom: 0;
  color: #fff;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
