.palette {
  height: 100vh;
}

.palette-colors {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}

.slider {
  width: 34rem;
  margin: 0 1rem;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: .8rem;
}

.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle:focus,
.rc-slider-handle:active {
  background-color: #008000;
  outline: none;
  border: 2px solid #008000;
  box-shadow: none;
  width: 1.3rem;
  height: 1.3rem;
  margin-left: -.7rem;
  margin-top: -.3rem;
}
